/* navigation */


.logo a{
    color: white;
    text-decoration: none;
}

header {
    background: var(--clr-dark);
    opacity: 0.7;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 1.5rem;
    color: white;
}

.nav-toggle {
    display: none;
}

.nav-toggle-lable {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-lable span,
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    content: '';
    position: absolute;
}
.nav-toggle-lable span::before{
    bottom: 7px;
}
.nav-toggle-lable span::after{
    top: 7px;
}


nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--clr-dark);
    width: 100%;
    min-height: 800px;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    padding-top: 2rem;
    font-family: 'Orbitron', sans-serif;
}

nav a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.bar{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #000;
}

@media screen and (min-width: 940px) {
    .nav-toggle-lable{
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 0fr;
    }

    .logo {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        grid-column: 3/4;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        padding-top: 0rem;
    }    

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform: scale(1,1);
    }
}